.moving-bg {
    background-image: url('images/LOGO_VIDE.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    animation: bg-scroll 30s linear infinite;
  }
 
  body {
    background-image:  url('images/image.jpg');
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  }