.moving-bg {
    background-image: url('images/LOGO_VIDE.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    animation: bg-scroll 30s linear infinite;
  }
  body {
    margin: 0;
    min-height: 100vh;
    background: url('images/image11.jpg') no-repeat center center;
    background-size: cover; /* Par défaut (PC) : couvre l'écran */
    background-attachment: fixed;
    font-family: 'Lora', serif;
    color: #3c2f27;
  }
  
  header {
    height: 20vh;
    background: transparent; /* Pas besoin de répéter le fond */
    font-family: 'Lora', serif;
    color: #3c2f27;
    background: url('images/image11.jpg') no-repeat center center;
    background-size: cover; /* Par défaut (PC) : couvre l'écran */
    background-attachment: fixed;
    font-family: 'Lora', serif;
    color: #3c2f27;
  }
  
  /* 📱 Pour téléphone (petits écrans) */
  @media screen and (max-width: 768px) {
    body {
      background: url('images/image11.jpg') no-repeat ;
      background-size: cover; /* Par défaut (PC) : couvre l'écran */
      background-attachment: fixed;
      font-family: 'Lora', serif;
      color: #3c2f27; 
    
      
    }
  
    
  }
  